@using CarPartsShoppingList.ViewModels
@model TransmissionViewModel

@{
    ViewData["Title"] = "Добавяне на скорости";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            @Html.HiddenFor(x => x.Id)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="saveContainer">
                <partial name="_SaveFormContent" model="@("#saveContainer")" />

                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.TransmisionName)</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.TransmisionCode)</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.TransmisionPrice)</div>
                </div>
            </div>

            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-success single-click-submit" />
                <a asp-controller="Transmision" asp-action="Index" class="btn btn-danger">Назад</a>
            </div>
        </form>
    </div>
</div>