@model EngineViewModel

@{
    ViewData ["Title"] = "Добавяне на двигател";
}

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Engine" asp-action="Edit" method="post">
            @Html.HiddenFor(x => x.Id)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="saveContainer">
                <partial name="_SaveFormContent" model="@("#saveContainer")" />

                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.EngineName)</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.EngineCategory)</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.EngineCode)</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.Cilinders)</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.Cubature)</div>
                </div>
                <div class="row">
                    <div class="col-lg-6">@Html.EditorFor(x => x.EnginePrice)</div>
                </div>
            </div>

            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-success single-click-submit" />
                <a asp-controller="Engine" asp-action="Index" class="btn btn-danger">Назад</a>
            </div>
        </form>
    </div>
</div>