@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<EngineViewModel>

@{
    ViewData["Title"] = "Engine";
}

<div class="row">
    <div class="col-md-12 test-right pd-15">
    <a asp-area="Admin" asp-action="Add" asp-controller="Engine" class="btn btn-success btn-flat">
        <i class="fa fa-plus"></i>
            Add
    </a>
  </div>
</div>

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>EngineName</th>
            <th>EngineCategory</th>
            <th>Cubature</th>
            <th>Cilinders</th>
            <th>EnginePrice</th>
            <th>EngineCode</th>
            <th colspan="2">Actions</th>
        </tr>

        @foreach (EngineViewModel engine in Model)
        {
            <tr>
                <td>@engine.EngineName</td>
                <td>@engine.EngineCategory</td>
                <td>@engine.Cubature</td>
                <td>@engine.Cilinders</td>
                <td>@engine.EnginePrice</td>
                <td>@engine.EngineCode</td>
                <td> <a asp-area="admin" asp-action="edit" asp-controller="Engine" asp-route-id="@engine.Id" class="btn btn-danger btn-flat">Edit</a>
                <td />
            </tr>
        }
    </table>
</body>
