@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<EngineViewModel>

@{
    ViewData ["Title"] = "Двигател";
}

    <h4>Engine</h4>
    <hr/>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>EngineId</th>
            <th>EngineName</th>
            <th>Cubature</th>
            <th>Cilinders</th>
            <th>EnginePrice</th>
            <th>EngineCode</th>
        </tr>

        @foreach (EngineViewModel engine in Model)
        {
            <tr>
                <td>@engine.EngineName</td>
                <td>@engine.Cubature</td>
                <td>@engine.Cilinders</td>
                <td>@engine.EnginePrice</td>
                <td>@engine.EngineCode</td>
            </tr>
        }
    </table>