@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<EngineViewModel>

@{
    ViewData["Title"] = "Двигател";
}

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>EngineName</th>
            <th>EngineCategory</th>
            <th>Cubature</th>
            <th>Cilinders</th>
            <th>EnginePrice</th>
            <th>EngineCode</th>
        </tr>

        @foreach (EngineViewModel engine in Model)
        {
            <tr>
                <td>@engine.EngineName</td>
                <td>@engine.EngineCategory</td>
                <td>@engine.Cubature</td>
                <td>@engine.Cilinders</td>
                <td>@engine.EnginePrice</td>
                <td>@engine.EngineCode</td>
            </tr>
        }
    </table>
</body>