@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<ShoppingListItemViewModel>

@{
    ViewData["Title"] = "Shopping list items";
}

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>ShoppingListItemName</th>
            <th>ShoppingListItemPrice</th>
            <th>IsPurchased</th>
            <th colspan="2">Actions</th>
        </tr>
        @foreach (ShoppingListItemViewModel shoppingListItem in Model)
        {
            <tr>
                <td>@shoppingListItem.ShoppingListItemName</td>
                <td>@shoppingListItem.ShoppingListItemPrice</td>
                <td>@shoppingListItem.IsPurchased</td>
                <td> <a asp-area="admin" asp-action="add" asp-controller="ShoppingListItem" asp-route-id="@shoppingListItem.Id" class="btn btn-succes btn-flat">Add</a><td/>
                <td> <a asp-area="admin" asp-action="edit" asp-controller="ShoppingListItem" asp-route-id="@shoppingListItem.Id" class="btn btn-danger btn-flat">Edit</a><td/>
            </tr>
        }
    </table>
</body>