@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<ShoppingListItemViewModel>

@{
    ViewData["Title"] = "Списък с части";
}

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>ShoppingListItemName</th>
            <th>ShoppingListItemPrice</th>
            <th>IsPurchased</th>
        </tr>
        @foreach (ShoppingListItemViewModel shoppingListItem in Model)
        {
            <tr>
                <td>@shoppingListItem.ShoppingListItemName</td>
                <td>@shoppingListItem.ShoppingListItemPrice</td>
                <td>@shoppingListItem.IsPurchased</td>
                <a asp-controller="ShoppingListItem" asp-action="Add" class="btn btn-success single-click-submit" asp-route-id="@shoppingListItem.Id">Add</a>
                <a asp-controller="ShoppingListItem" asp-action="Edit" class="btn btn-danger" asp-route-id="@shoppingListItem.Id">Edit</a>
            </tr>
        }
    </table>
</body>