@using CarPartsShoppingList.Infrastructure.Data.Models
@model List<ShoppingListItemViewModel>

@{
    ViewData["Title"] = "Shopping list items";
}

<body>
    <hr />
    <table style="width:100%">
        <tr>
            <th>ProductName</th>
            <th>Code</th>
            <th>Price</th>
            <th>IsPurchased</th>
        </tr>
        @foreach (ShoppingListItemViewModel shoppingListItem in Model)
        {
            <tr>
                <td>@shoppingListItem.ProductName</td>
                <td>@shoppingListItem.Code</td>
                <td>@shoppingListItem.Price</td>
                <td>
                    <input id="@shoppingListItem.IsPurchased" type="checkbox" value="@shoppingListItem.IsPurchased" checked="@shoppingListItem.IsPurchased" />
                </td>
            </tr>
        }
    </table>
</body>
<hr />
<a asp-controller="ShoppingList" asp-action="ShoppingList" class="btn btn-danger btn-sm">Back</a>
